<app-nav></app-nav>

 <div class="container">
  <div class="row mt-1">
    <div class="col-xs-6">
      <h1>
        {{ title }}
      </h1>
      
      
      
      <div class="card" [style.borderColor]="color">
        <div class="card-block">
          <h4 class="card-title">Album</h4>
          <p class="card-text">Opis albumu</p>
        </div>

        <div class="card-block">
          <div class="form-group">
            <label>Nazwa:</label>
            <input type="text" [value]="album.name" class="form-control">
          </div>
          <div class="form-group">
            <label>Rok:</label>
            <input type="number" [value]="album.year" disabled class="form-control">
          </div>
          <div class="form-group">
            <label>Typ:</label>
             <div class="dropdown" [class.show]="typeSelected">
                  <button (click)="toggleSelected()" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{label}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a (click)="setLabel('Dorosły')" class="dropdown-item" href="#">Dorosły</a>
                        <a (click)="setLabel('Dziecko')" class="dropdown-item" href="#">Dziecko</a>
                        <a (click)="setLabel('Natura')" class="dropdown-item" href="#">Natura</a>
                  </div>
                </div>
          </div>
          <div class="form-group">
            <label>
            <input type="checkbox" [checked]="album.favourite"> Favourite</label>
          </div>
        </div>
      </div>
      
    </div>
</div>






