<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<ul>
<li><a [ngClass]="{'active': selectedItem === ''}" (click)="selectedItem = ''" routerLink="/">Home</a></li>
<li><a [ngClass]="{'active': selectedItem === 'about'}" (click)="selectedItem = 'about'" routerLink="/about" >About</a></li>

<li><a [ngClass]="{'active': selectedItem === 'bundled'}" (click)="selectedItem = 'bundled'" routerLink="/bundled">Another Module</a></li>
<li><a [ngClass]="{'active': selectedItem === 'lazy'}" (click)="selectedItem = 'lazy'" routerLink="/lazy">Lazy Module</a></li>

</ul>

<router-outlet></router-outlet>
 

